# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Dependency directories (remove the comment below to include it)
# vendor/

.vscode/
.idea/

edge-api

quay-cloudservices-pull.yaml

# Pipfile.lock to allow multiple versions of Python to be supported (for bonfire)
Pipfile.lock

# pyenv
.python-version

# bonfire config
config.yaml

# sqlite database
*.db
*.db-journal

# env variables file
.env
.env_test
# mac specific
.DS_Store

#sonarqube
.bash_history
.scannerwork/
group
passwd
sonarqube/

openapi.json
openapi.yaml

go/pkg/mod/*
.cache

# build files
/build/
/coverage.json
/coverage.html

#docfiles
api/
